<!DOCTYPE html>

<html>

    <head>
	<title>TAB</title>
	<!--script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script-->
	<script src="./vue.js"></script>

	<style>
	    
	    body { font-size:3em }
	    
	    table { position:relative; width:67%; margin:auto }
	    th { padding-top:90px}
	    th.active { color:navy; border-bottom:1px solid navy }
	    th, tr { font-family: arial, sans-serif }
	    tr:nth-child(odd) { background-color:#f1f1f1 }
	    input, #addButton { width:95% }
	    input { font-size:x-large }
	    


	</style>
    </head>

    <body>

	<div id="app">

	    <table border="0px" cellpadding="8px">
		<tr style="background-color:white">
		    <th align="right" v-on:click="sortByName" v-bind:class="{active: nameOrder}">name</th>
		    <th align="left" v-on:click="sortByStreet" v-bind:class="{active: streetOrder}">address</th>
		    <th></th>
		</tr>

		<tr v-for="(d,i) in details">
		    <td align="right" v-on:click="editDetail(i)">{{d.name}}</td>
		    <td align="left" v-on:click="editDetail(i)">{{d.number}} {{d.street}}</td>
		    <td align="center"><button v-on:click="delDetail(i)">&#9746;</button></td>
		</tr>

		<tr><td colspan="3" style="background-color:white">&nbsp;</td></tr>
		
		<tr align="center" style="background-color:white">
		    <td colspan="2"><input v-model="newEntry" placeholder="name  no.  street" /></td>
		    <td><button id="addButton" v-on:click="addDetail">Add</button></td>
		</tr>

	    </table>


	</div>





    <script>

	
	navigator.serviceWorker.register('./serviceworker.js', { scope:'./' });


	   
	function newStore()
	{
	    if (!localStorage.getItem("list"))
		localStorage.setItem("list", "[]");

	    function get() { return JSON.parse(localStorage.getItem("list")) }
	    function update(newList) { localStorage.setItem("list", JSON.stringify(newList)) }

	    return { get, update };
	}

	var store = newStore();



	var details = store.get();
	

	function printDetail(detail)
	{
	    return `${detail.name} ${detail.number} ${detail.street}`;
	}

	function editDetail(index)
	{
	    this.newEntry = printDetail(details[index]);
	    delDetail(index);
	}
	
	function delDetail(index)
	{
	    details.splice(index, 1);
	    store.update(details);
	}


	function addDetail()
	{
	    if (!this.newEntry) return;


	    const [name, number, ...street] = this.newEntry.trim().split(/\s+/); //trim and then split on any sequence of whitespace

	    details.push({ name, number, 'street':street.join(" ") });


	    this.reOrder();
	    store.update(details);

	    this.newEntry = "";
	}

	function byStreet(a,b)
	    { return a.street.localeCompare(b.street) }

	function byName(a,b)
	    { return a.name.localeCompare(b.name) }


	
	function reOrder()
	{
	    if (this.nameOrder) details.sort(byName);
	    if (this.streetOrder) details.sort(byStreet);
	}


	function sortByName() 
	    { this.nameOrder = true; this.streetOrder = false; this.reOrder(); }
	function sortByStreet() 
	    { this.nameOrder = false; this.streetOrder = true; this.reOrder(); }


	var app = new Vue({

	    el: '#app',
	    data: { details, newEntry:"", nameOrder:false, streetOrder:false },
	    methods: { addDetail, editDetail, delDetail, sortByName, sortByStreet, reOrder }

	});

	app.sortByStreet();



    </script>
    </body>

</html>
